html{background-color: #ffffff !important;}
.services-banner{
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 0;
    margin: 0;
    text-align: left;
-webkit-linear-gradient(200deg, #48227d 0%, #2f569c 100%);
    background-image: linear-gradient(-110deg, #48227d 0%, #2f569c 100%);
    background-color: #48227d;
    overflow: hidden;
}
.container{
    width: 980px;
    margin: 0 auto;
}
.column{
    float: left;
}
.one-half{
    width: 52%;
}
.one-two{
    width: 48%;
}
.directory-header{
    color: #96dad9;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.directory-tag{
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
}
.lead{
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: normal;
    color: #d7def1;
}
.services-nav{position:absolute;top:324px;background:#F1F1F1;box-shadow:1px 1px 3px #cfcfcf;width:100%;left:0;z-index:30;}
.services-nav .about_site{width:1000px;margin:0 auto;line-height:50px;font-size:12px;color:#444;position:relative;z-index:10;}
.services-content{width:100%;background:#fff;margin:0 auto;padding-bottom:0;}
.services-content .service-left{float:left;overflow:hidden;}
.services-content .sitecon{width:1200px;margin:0 auto;overflow:hidden;}
.services-content .sitecon .services-show-t{width:750px;height:200px;margin:50px 0;border:2px solid #bcbcbc;background:#dadada;border-radius:35px;padding:20px;}
.services-content .sitecon .services-show-t-s{border-radius:25px;min-height:205px;background:#efefef;}
.services-content .sitecon .services-show-t-s .title{padding-top:12px;float:left;height:192px;font-size:22px;width:40px;padding-left:22px;line-height:45px;background:#fff;border-right:3px solid #e0e0e0;color:#929292;border-top-left-radius:25px;border-bottom-left-radius:25px; }
.services-content .sitecon .services-show-t-s .cate{margin-left:20px;float:left;width:655px;}
.services-content .sitecon .services-show-t-s .cate li{width:150px;float:left;min-height:160px;margin-top:25px;border-right:1px solid #ccc;padding-right:10px;}
.services-content .sitecon .services-show-k{width:750px;margin-top:50px;border-radius:35px;padding:30px;}
.services-content .sitecon .services-show-s{border-radius:25px;min-height:880px;}
.services-content .sitecon .services-title{height:70px;background:#fff;border-top-left-radius:25px;border-top-right-radius:25px;}
.services-content .sitecon .services-title .date{line-height:38px;float:left;color:#606060;font-size:20px;padding-left:30px;cursor:pointer;margin-top:23px;}
.services-content .sitecon .services-title .date p{float:left;}
.services-content .sitecon .services-title h3{color:#606060;line-height:70px;width:180px;margin:0 auto;text-align:center;font-size:25px;}
.services-content .sitecon .services-title a{color:#606060;display:block;width:50px;position:relative;right:-675px;top:-43px;font-size:20px;}
.services-content .sitecon .services-title a:hover{color:#b1b1b1;}
.services-content .sitecon .services-show-s ul {height:804px;}
.services-content .sitecon .services-show-s ul li{width:33%;float:left;min-height:200px;}
.services-content .sitecon .services-show-s .pagination{width:auto;height:33px;display: inline-block;margin:0 auto;float:right;}
.services-content .sitecon .services-show-s .pagination li:first-child{width:50px;}
.services-content .sitecon .services-show-s .pagination li:last-child{width:50px;}
.services-content .sitecon .services-show-s .pagination li{width:30px;display:block;min-height:24px;font-size:14px;border:2px solid #fff;text-align:center;color:#ccc;}
.services-content .sitecon .services-show-s .pagination li a{display:block;color:#512a2a;}
.services-content .sitecon .services-show-s .pagination li .disabled{color:#aaa7a7;}
.services-content .sitecon .services-show-s .pagination li .active{color:#aaa7a7;}
.services-content .sitecon .services-show-s .service{margin:15px 15px 0px 15px;height:160px;border:2px solid #cecece;border-radius:7px;background:#efefef;}
.services-content .sitecon .service-main{width:140px;border-right:1px solid #cecece;padding:7px 1px 0 19px;font-size:13px;margin-top:20px;font-family:'宋体';min-height:110px;overflow:hidden;}
.services-content .sitecon .service a{position:relative;top:-80px;left:170px;font-size:13px;padding:3px;line-height:20px;display:inline-block;width:30px;color:#85a5d1;}
.services-content .sitecon .service a:hover{color:#000;}

.services-content .service-right{float:left;width:386px;}
.services-content .service-right .search{margin:0 auto;margin-top:70px;}
.services-content .service-right .groom{width:260px;margin:0 auto;margin-top:20px;border:3px solid #e0e0e0;border-top-left-radius:14px;border-top-right-radius:14px;}
.services-content .service-right .groom span{font-size:17px;margin:20px 0 0 15px;width:220px;display:block;font-weight:bolder;color:#626262;padding-bottom:5px;border-bottom:1px solid #c3c3c3;}
.services-content .service-right .groom ul{margin:5px 15px;font-size:16px;}
.services-content .service-right .groom ul li{margin:20px 0px;}
.services-content .service-right .groom ul li a{color:#4f662f;line-height:20px;}
.services-content .service-right .groom ul li a:hover{color:#77c30c;}
.services-content .service-right .groom ul li i{float:left;padding-right:10px;}
.services-content .service-right .hot{width:260px;margin:0 auto;margin-top:30px;border:3px solid #e0e0e0;border-bottom-left-radius:14px;border-bottom-right-radius:14px;}
.services-content .service-right .hot span{font-size:17px;margin:20px 0 0 15px;width:220px;display:block;font-weight:bolder;color:#626262;padding-bottom:5px;border-bottom:1px solid #c3c3c3;}
.services-content .service-right .hot .phone{margin:5px 27px;font-size:16px;background:url(../img/pro-msg-model.png) 0px 0px no-repeat;min-height:378px;width:200px;}
.services-content .service-right .hot .phone .mask{padding-top:76px;height:253px;overflow:hidden;}
.services-content .service-right .hot ul li{float:right;margin-top:10px;margin-right:18px;display:none;font-size:12px;width:135px;background:#e2dfdf;padding:10px;border-radius:15px;color:#eee;}
.services-content .service-right .hot ul li a{color:#000;}
.services-content .service-right .hot ul li a:hover{color:#005fef;}
.services-content .service-right .hot .phone .show{display:block}
.search {overflow:hidden;}
.search .ss{float:left;height:35px;width:180px;padding-left:10px;border:2px solid #e0e0e0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.search .buttom{background:url(../img/serch.png)no-repeat center center;display:block;min-height:35px;width:39px;float:left;border:2px solid #e0e0e0;border-left:none;border-top-right-radius:5px;border-bottom-right-radius:5px;cursor:pointer;}
.search .buttom:hover{background:#eee url(../img/serch.png)no-repeat center center; }
.services-content .category{min-height:200px;width:1200px;margin:0 auto;border-top:3px solid #efefef;}
.services-content .category a{overflow:hidden;display:block;}
.services-content .category ul{padding-top:20px;}
.services-content .category ul li{width:15%;float:left;min-height:80px;}
.services-content .category ul li:hover{background:#e3e3e3;color:#eee;}
.services-content .category ul li a i{float:left;margin-top:8px;padding-left:5%;}
.services-content .category ul li a h3{float:left;padding-left:20px;color:#689260;line-height:80px;font-size:20px;}
.services-content .service-right .search form{margin-bottom:12px;overflow:hidden;}
.services-content .service-right .search h3{font-weight:bolder;color:#6a962c;}
.services-content .service-right .search .tag{margin-right:20px;margin-top:3px;color:#444;}
.services-content .service-right .search .tag:hover{color:#6a962c;cursor:pointer;}
.services-content .category ul{overflow:hidden;}
.pagination .disabled{color:#eee;}
.wrapper .footer{display:none;}


